










        <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
            
          <%= flash[:notice => "please go back"] %>
          </div>
    </ul>
  </div>
<% end %>







